form {
  width: 50%;
  margin:auto;
  margin-bottom:20px;
}
label {
  width:25%;
}
label, input {
  display: inline-block;
}
input {
  width: 75%;
}
input[type=submit] {
  width:100%;
}

.btn {
  display: block;
  width: 50%;
  margin: auto;
}
.keg {
  display: inline-block;
  border:1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin:5px;
  button {
    width:100%;
  }
  h3 {
    margin-top:0;
    padding-top:0;
  }
  h5 {
    text-align: center;
  }
  .price {
    padding:2px;
    border-radius:20px;
  }
}
.header {
  text-align: center;
}
